#body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    position: relative;
}


@media(max-width: 599px) {
    #root .ui.menu.container .item:first-child{
        height: 100%;
    }

    #root .ui.menu.container .item:first-child h1 {
        font-size: 18px;
    }
}

#root > .ui.container {
    padding-bottom: 50px;
}

.button.marginTop {
    margin-top: 15px;
}

.button.marginLeft {
    margin-left: 10px;
}

.ui.card .huge.icon {
    margin-block: 15px;
}

.ui.container.items .item div.content {
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-left: 20px;
}

footer.ui.footer {
    position: absolute;
    bottom: 0;
    box-shadow: none;
    border-inline: none;
    border-bottom: none;
    width: 100%;
    height: 50px;
}

footer.ui.footer :is(.github, .mail).icon {
    line-height: 50px;
    vertical-align: middle;
    color: black;
}