#body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    position: relative;
}

#root > .ui.container {
    padding-bottom: 50px;
}

.button.marginTop {
    margin-top: 15px;
}

.button.marginLeft {
    margin-left: 10px;
}

footer.ui.footer {
    position: absolute;
    bottom: -3px;
    border-inline: none;
    border-bottom: none;
    width: 100%;
    height: 50px;
}

footer.ui.footer :is(.github, .mail).icon {
    line-height: 50px;
    vertical-align: middle;
    color: black;
}